<h1>
   {{title}}
</h1>

<p-messages [value]="msgs"></p-messages>

<p-fieldset legend="Header" toggleable="true">
   <p>http://www.primefaces.org/primeng/#</p>
   <p>https://github.com/angular/angular-cli</p>
   <input type="text" pInputText [(ngModel)]="message" />
   <p>Silvio Santos Ipsum ma vejam só, vejam só. É namoro ou amizadeemm? Um, dois três, quatro, PIM, entendeuam? Mah é a porta
      da esperançaam. É com você Lombardiam. O arriscam tuduam, valendo um milhão de reaisuam. Eu não queria perguntar isso
      publicamente, ma vou perguntar. Carla, você tem o ensino fundamentauam? Mah você não consegue né Moisés? Você não consegueam.
      É fácil ou não éam? Eu não queria perguntar isso publicamente, ma vou perguntar. Carla, você tem o ensino fundamentauam?
      Ma! Ao adquirir o carnê do Baú, você estará concorrendo a um prêmio de cem mil reaisam. Mah roda a roduamm. Ha hai.
      Bem boladoam, bem boladoam. Bem gozadoam. É com você Lombardiam. O prêmio é em barras de ouro, que vale mais que dinheiroam.
      Ma tem ou não tem o celular do milhãouamm? É namoro ou amizadeemm? É namoro ou amizadeemm? Ma quem quer dinheiroam?
      Boca sujuam... sem vergonhuamm. O prêmio é em barras de ouro, que vale mais que dinheiroam. O arriscam tuduam, valendo
      um milhão de reaisuam. Ma vale dérreaisam? É fácil ou não éam? Estamos em ritmo de festamm. Você veio da caravana de
      ondeammm? Um, dois três, quatro, PIM, entendeuam? Wellintaaammmmmmmmm. Ma você está certo dissoam? Ha haeeee. Hi hi.
   </p>
   <button pButton type="button" icon="fa-check" iconPos="left" label="Click for message" (click)="showMessage()"></button>
</p-fieldset>