/raspberry-pi/controller/ezHomeController/nbproject/private/
/raspberry-pi/controller/ezHomeController/build/
/raspberry-pi/controller/ezHomeController/dist/
/controller/ezHomeController/build/
/controller/ezHomeController/dist/
/controller/ezHomeController/nbproject/private/