/raspberry-pi/controller/ezHomeController/nbproject/private/
/raspberry-pi/controller/ezHomeController/build/
/raspberry-pi/controller/ezHomeController/dist/
/controller/ezHomeController/build/
/controller/ezHomeController/dist/
/controller/ezHomeController/nbproject/private/
/controller/ezHomeController/*.lck
/release/build
/local-site/node_modules
/local-site/typings
/controller/ezHomeLib/nbproject/private/
/controller/ezHomeLib/dist/
/controller/ezHomeStandardLib/nbproject/private/
/controller/ezHomeStandardLib/dist/
*.log.0