Package: ezhome
Version: 0.1-0
Section: base
Priority: optional
Architecture: all
Depends: 
Maintainer: Cristofer Zdepski <cristoferz@gmail.com>
Description: ezHome Controller
 This is the base controller for ezHome Project
