<md-card>
   <button md-button>FLAT</button>
   <button md-raised-button>RAISED</button>
   <button md-fab>
    <md-icon class="md-24">add</md-icon>
</button>
   <button md-mini-fab>
    <md-icon class="md-24">add</md-icon>
</button>
</md-card>
<br><br>
<md-card>
   <md-card-subtitle>Subtitle first</md-card-subtitle>
   <md-card-title>Card with title</md-card-title>
   <md-card-content>
      <p>This is supporting text.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad</p>
   </md-card-content>
   <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
   </md-card-actions>
</md-card>